# Linking the rows of tmpresult.mat and vutara.mat files for multi-camera 3D-STORM

### In a separate code, I read tmpresult.mat file, convert the x,y values from pixel to nanometres and then export an csv file for thunderstorm. I use thunderstorm to remove drift from the csv file. Here I read the drift corrected csv file and append a column with the ratio of intenisties from two cameras from the file ratio.mat. The vutarapr variable from vutara.mat file is same as the index/row of tmpresult and is used to link/join the two files. The linkage helps in extracting the ratios of photons from the two cameras. We need the ratios to assign colour in multi-colour 3D-STORM. Next, I apply all the quality filters to the data. The final data with all vutara columns in addition to new columns after quality filtering is then saved as a csv file.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import os
from tkinter import filedialog
# get ratio.mat file which has the ratios of photons between the two cameras
curr_directory = os.getcwd() # will get current working directory
file_name_ratio=  filedialog.askopenfilename(initialdir = curr_directory,title = "Select file",filetypes = (("ratio","*.mat"),("all files","*.*")))

In [3]:
# Load cam2 ratios
from scipy.io import loadmat
ratio_cam2=loadmat(file_name_ratio)['RT'] # this is the ratio variable
ratio_cam2=ratio_cam2[:,0]
ratio_cam2

array([0.00000000e+00, 0.00000000e+00, 9.37482758e-04, ...,
       5.50568494e-01, 5.94781937e-01, 1.60675975e+00])

In [4]:
df_ThunderSTORM_drift_corrected=pd.read_csv('df_ThunderSTORM_drift_corrected_cross.csv')
df_ThunderSTORM_drift_corrected.head()

    id  frame        x [nm]        y [nm]  intensity [photon]  bkgstd [photon]
0  1.0    1.0   3423.917817  13784.574306           168.83635         74.66662
1  2.0    1.0  11024.025617   4070.107306          1902.91350         86.68191
2  3.0    1.0  12607.829617    919.529366          1844.02550         76.87328
3  4.0    1.0  13160.681617  23056.158306          2907.63430         83.75448
4  5.0    1.0  15019.826617   3406.813006           595.96423         82.83479

In [5]:
# drop columns which are already there in vutara file (intensity and background)
df_ThunderSTORM_drift_corrected.drop(columns=['intensity [photon]', 'bkgstd [photon]'], inplace=True)
df_ThunderSTORM_drift_corrected.head()

    id  frame        x [nm]        y [nm]
0  1.0    1.0   3423.917817  13784.574306
1  2.0    1.0  11024.025617   4070.107306
2  3.0    1.0  12607.829617    919.529366
3  4.0    1.0  13160.681617  23056.158306
4  5.0    1.0  15019.826617   3406.813006

In [6]:
# add photon ratio of camera 2 to 1 to the dataframe
df_ThunderSTORM_drift_corrected["ratio_cam2"]=ratio_cam2
df_ThunderSTORM_drift_corrected.head()

    id  frame        x [nm]        y [nm]  ratio_cam2
0  1.0    1.0   3423.917817  13784.574306    0.000000
1  2.0    1.0  11024.025617   4070.107306    0.000000
2  3.0    1.0  12607.829617    919.529366    0.000937
3  4.0    1.0  13160.681617  23056.158306    0.002164
4  5.0    1.0  15019.826617   3406.813006    0.000000

In [7]:
 # Here I change the column names to a friendly format
df_ThunderSTORM_drift_corrected.columns = ['id', 'frame','x','y', 'ratio_cam2']
df_ThunderSTORM_drift_corrected.head()

    id  frame             x             y  ratio_cam2
0  1.0    1.0   3423.917817  13784.574306    0.000000
1  2.0    1.0  11024.025617   4070.107306    0.000000
2  3.0    1.0  12607.829617    919.529366    0.000937
3  4.0    1.0  13160.681617  23056.158306    0.002164
4  5.0    1.0  15019.826617   3406.813006    0.000000

In [8]:
df_ThunderSTORM_drift_corrected.shape

(67822, 5)

### Read vutara.mat and create a data frame

In [9]:
file_name_vutara=  filedialog.askopenfilename(initialdir = curr_directory,title = "Select file",filetypes = (("v20_60","*.mat"),("all files","*.*")))

In [10]:
vutarax = loadmat(file_name_vutara)['vutarax']
vutaray = loadmat(file_name_vutara)['vutaray']
z = loadmat(file_name_vutara)['vutaraz']
vutarat = loadmat(file_name_vutara)['vutarat']
vutarat=vutarat+1
vutarabg = loadmat(file_name_vutara)['vutarabg']
vutaraI = loadmat(file_name_vutara)['vutaraI']
vutarapr = loadmat(file_name_vutara)['vutarapr']
vutarazerr = loadmat(file_name_vutara)['vutarazerr']
vutarazcon = loadmat(file_name_vutara)['vutarazcon']
vutarazaster = loadmat(file_name_vutara)['vutarazaster']
vutarall = loadmat(file_name_vutara)['vutarall']
vutaracrlb = loadmat(file_name_vutara)['vutaracrlb']

In [11]:
vutarax=pd.Series(np.ravel(vutarax))
vutaray=pd.Series(np.ravel(vutaray))
vutarat=pd.Series(np.ravel(vutarat))
vutarabg=pd.Series(np.ravel(vutarabg))
vutaraI=pd.Series(np.ravel(vutaraI))
vutarapr=pd.Series(np.ravel(vutarapr))
z=pd.Series(np.ravel(z))
vutarazerr=pd.Series(np.ravel(vutarazerr))
vutarazcon=pd.Series(np.ravel(vutarazcon))
vutarazaster=pd.Series(np.ravel(vutarazaster))
vutarall=pd.Series(np.ravel(vutarall))
vutaracrlb=pd.Series(np.ravel(vutaracrlb))

In [12]:
dic_vutara = {'vutarat':vutarat, 'vutarax': vutarax, 'vutaray': vutaray, 'z':z, 'vutarabg': vutarabg,'vutaraI': vutaraI, 'vutarapr':vutarapr, 'vutarazerr':vutarazerr, 'vutarazcon':vutarazcon, 'vutarazaster':vutarazaster, 'vutarall':vutarall, 'vutaracrlb':vutaracrlb}
df_vutara = pd.DataFrame(data=dic_vutara)
df_vutara.head()

,vutarat,vutarax,vutaray,z,vutarabg,vutaraI,vutarapr,vutarazerr,vutarazcon,vutarazaster,vutarall,vutaracrlb
0,1.0,12477.330078,898.728760,-259.026978,76.873283,1844.025513,3,8.971560,0.733554,0.014456,139.441772,0.133541
1,2.0,11968.993164,3379.184326,-367.248291,76.639839,1706.397583,9,67.358017,0.729469,0.003714,128.026855,0.110778
2,4.0,13480.885742,22941.369141,-230.338470,73.110954,3553.635010,19,2.673657,0.640347,0.010797,114.136772,0.054294
3,9.0,13514.841797,12155.922852,365.332672,95.998138,4859.453125,33,1.015260,0.644125,0.008076,166.978561,0.056696
4,10.0,13505.315430,12142.916016,360.635864,99.533714,6791.105469,37,10.444850,0.669817,0.009028,173.342682,0.044481

In [13]:
df_vutara.shape

(9763, 12)

In [14]:
# Here I join the drift corrected (x,y drift corrected using thunderSTORM) data to vutara (final processed data)
df_vutara_drift_corrected = pd.merge(df_ThunderSTORM_drift_corrected, df_vutara, left_on=['id'], right_on = ['vutarapr'])
print(df_vutara_drift_corrected.shape)
df_vutara_drift_corrected.head()

(9763, 17)

,id,frame,x,y,ratio_cam2,vutarat,vutarax,vutaray,z,vutarabg,vutaraI,vutarapr,vutarazerr,vutarazcon,vutarazaster,vutarall,vutaracrlb
0,3.0,1.0,12607.829617,919.529366,0.000937,1.0,12477.330078,898.728760,-259.026978,76.873283,1844.025513,3,8.971560,0.733554,0.014456,139.441772,0.133541
1,9.0,2.0,12095.504399,3419.356738,0.003486,2.0,11968.993164,3379.184326,-367.248291,76.639839,1706.397583,9,67.358017,0.729469,0.003714,128.026855,0.110778
2,19.0,4.0,13619.175963,23134.357002,0.042214,4.0,13480.885742,22941.369141,-230.338470,73.110954,3553.635010,19,2.673657,0.640347,0.010797,114.136772,0.054294
3,33.0,9.0,13653.316873,12264.616163,0.032147,9.0,13514.841797,12155.922852,365.332672,95.998138,4859.453125,33,1.015260,0.644125,0.008076,166.978561,0.056696
4,37.0,10.0,13643.699656,12251.500395,0.071152,10.0,13505.315430,12142.916016,360.635864,99.533714,6791.105469,37,10.444850,0.669817,0.009028,173.342682,0.044481

In [15]:
df_vutara_drift_corrected["intensity_cam2"]=df_vutara_drift_corrected.vutaraI* df_vutara_drift_corrected.ratio_cam2
df_vutara_drift_corrected.head()

,id,frame,x,y,ratio_cam2,vutarat,vutarax,vutaray,z,vutarabg,vutaraI,vutarapr,vutarazerr,vutarazcon,vutarazaster,vutarall,vutaracrlb,intensity_cam2
0,3.0,1.0,12607.829617,919.529366,0.000937,1.0,12477.330078,898.728760,-259.026978,76.873283,1844.025513,3,8.971560,0.733554,0.014456,139.441772,0.133541,1.728742
1,9.0,2.0,12095.504399,3419.356738,0.003486,2.0,11968.993164,3379.184326,-367.248291,76.639839,1706.397583,9,67.358017,0.729469,0.003714,128.026855,0.110778,5.947655
2,19.0,4.0,13619.175963,23134.357002,0.042214,4.0,13480.885742,22941.369141,-230.338470,73.110954,3553.635010,19,2.673657,0.640347,0.010797,114.136772,0.054294,150.013184
3,33.0,9.0,13653.316873,12264.616163,0.032147,9.0,13514.841797,12155.922852,365.332672,95.998138,4859.453125,33,1.015260,0.644125,0.008076,166.978561,0.056696,156.215927
4,37.0,10.0,13643.699656,12251.500395,0.071152,10.0,13505.315430,12142.916016,360.635864,99.533714,6791.105469,37,10.444850,0.669817,0.009028,173.342682,0.044481,483.197754

In [16]:
df_vutara_drift_corrected.describe()

,id,frame,x,y,ratio_cam2,vutarat,vutarax,vutaray,z,vutarabg,vutaraI,vutarapr,vutarazerr,vutarazcon,vutarazaster,vutarall,vutaracrlb,intensity_cam2
count,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9763.000000,9.763000e+03,9763.000000,9763.000000,9763.000000
mean,31468.170542,8282.413910,12595.316550,11976.469061,0.187494,8282.362305,12583.664062,11894.011719,115.654503,179.522919,4874.189941,31468.170542,29.986992,0.729638,2.168372e-02,171.988998,0.066695,897.603724
std,19956.670694,5004.299481,1414.876209,8220.790199,0.066184,5004.296387,1398.984863,8156.522461,184.972183,27.814365,2659.958984,19956.670694,25.086597,0.120668,2.111989e-02,47.037163,0.033357,534.825819
min,3.000000,1.000000,699.454121,693.816960,0.000000,1.000000,747.519592,692.411926,-384.898041,58.440769,515.448364,3.000000,0.002064,0.400721,2.256630e-08,75.588989,0.020848,0.000000
25%,13113.500000,3945.000000,11711.355197,4144.205059,0.151363,3945.000000,11731.825684,4120.609863,-31.405276,162.605606,2789.609741,13113.500000,9.972820,0.650147,7.017056e-03,135.272232,0.040995,502.483200
50%,30748.000000,7944.000000,12791.147115,10689.134106,0.182569,7944.000000,12774.554688,10615.217773,133.230835,181.274109,4340.011719,30748.000000,22.453312,0.721128,1.673961e-02,162.321991,0.057249,801.940247
75%,48950.500000,12500.000000,13564.132893,22770.348400,0.218611,12500.000000,13536.471191,22604.665039,273.633362,196.619751,6514.496338,48950.500000,43.971859,0.811801,3.033113e-02,201.459366,0.084148,1199.773499
max,67787.000000,17991.000000,24687.663615,23640.533848,0.821241,17991.000000,24475.972656,23453.613281,490.905243,267.049896,18684.873047,67787.000000,99.961784,0.999974,6.589843e-01,299.952515,0.192212,3974.829346

In [17]:
# Filter the df_vutara_drift_corrected dataframe using quality filters

# Select photons between 500 and 100000
df_vutara_drift_corrected_filtered=df_vutara_drift_corrected[(df_vutara_drift_corrected['vutaraI'] >=500) & (df_vutara_drift_corrected['vutaraI'] <=100000)]

# Select interference contrast 0.4 to 1
df_vutara_drift_corrected_filtered=df_vutara_drift_corrected[(df_vutara_drift_corrected['vutarazcon'] >=0.4) & (df_vutara_drift_corrected['vutarazcon'] <=1)]

# Select log likelihood < 300
df_vutara_drift_corrected_filtered=df_vutara_drift_corrected[(df_vutara_drift_corrected['vutarall'] <300)]

# Select log CRBL < 0.2
df_vutara_drift_corrected_filtered=df_vutara_drift_corrected[(df_vutara_drift_corrected['vutaracrlb'] <0.2)]

# Select z astigmatism error 0 to 0.05
df_vutara_drift_corrected_filtered=df_vutara_drift_corrected[(df_vutara_drift_corrected['vutarazaster'] >=0) & (df_vutara_drift_corrected['vutarazaster'] <=0.05)]

# Select  intensity of cam2 > 10
df_vutara_drift_corrected_filtered=df_vutara_drift_corrected[(df_vutara_drift_corrected['intensity_cam2'] > 10)]

df_vutara_drift_corrected_filtered.describe()

,id,frame,x,y,ratio_cam2,vutarat,vutarax,vutaray,z,vutarabg,vutaraI,vutarapr,vutarazerr,vutarazcon,vutarazaster,vutarall,vutaracrlb,intensity_cam2
count,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9.735000e+03,9735.000000,9735.000000,9735.000000
mean,31550.895737,8303.760041,12595.050146,11982.700348,0.188028,8303.708984,12583.699219,11900.247070,116.099091,179.742752,4884.242188,31550.895737,29.957737,0.729588,2.163508e-02,172.127777,0.066527,900.180895
std,19924.534520,4995.234387,1412.004028,8221.158782,0.065523,4995.235352,1396.103638,8156.877441,184.753174,27.499805,2656.993164,19924.534520,25.065546,0.120662,2.099779e-02,47.026615,0.033222,533.427908
min,19.000000,4.000000,699.454121,693.816960,0.004022,4.000000,747.519592,692.411926,-384.898041,59.277832,515.448364,19.000000,0.002064,0.400721,2.256630e-08,75.588989,0.020848,11.262071
25%,13337.000000,4008.000000,11708.544427,4146.221408,0.151574,4008.000000,11729.221680,4122.553223,-30.932227,162.686844,2802.420410,13337.000000,9.969188,0.650147,7.019720e-03,135.494827,0.040951,506.198914
50%,30863.000000,7970.000000,12791.147115,10690.680744,0.182772,7970.000000,12774.693359,10620.921875,133.943207,181.358521,4349.467773,30863.000000,22.446220,0.721128,1.673961e-02,162.441772,0.057125,804.114563
75%,49005.500000,12515.000000,13564.270956,22771.600020,0.218719,12515.000000,13537.843750,22605.488281,273.891388,196.717102,6520.994141,49005.500000,43.908197,0.811555,3.027949e-02,201.578369,0.083909,1201.324036
max,67787.000000,17991.000000,24687.663615,23640.533848,0.821241,17991.000000,24475.972656,23453.613281,490.905243,267.049896,18684.873047,67787.000000,99.961784,0.999974,6.589843e-01,299.952515,0.192212,3974.829346

In [18]:
# save csv of drift corrected and filtered data
df_vutara_drift_corrected_filtered.to_csv('df_vutara_drift_corrected_filtered_cam1_2.csv', index=False)

In [19]:
# Here I get rid of unnecessary columns and simplify the column names
df_vutara_drift_corrected_localisations=df_vutara_drift_corrected_filtered[['id', 'frame', 'x', 'y', 'z', 'vutaraI', 'intensity_cam2' ]].copy()
df_vutara_drift_corrected_localisations.columns = ['id', 'frame', 'x', 'y', 'z', 'intensity_cam1', 'intensity_cam2' ]
df_vutara_drift_corrected_localisations.id= df_vutara_drift_corrected_localisations.id.astype(int)
df_vutara_drift_corrected_localisations.head()

,id,frame,x,y,z,intensity_cam1,intensity_cam2
2,19,4.0,13619.175963,23134.357002,-230.338470,3553.635010,150.013184
3,33,9.0,13653.316873,12264.616163,365.332672,4859.453125,156.215927
4,37,10.0,13643.699656,12251.500395,360.635864,6791.105469,483.197754
5,39,11.0,11559.165438,4528.463127,-257.489136,2778.062500,86.854424
6,49,15.0,11773.163566,22857.180556,-177.620392,2482.455078,48.472572

In [20]:
df_vutara_drift_corrected_localisations.describe()

,id,frame,x,y,z,intensity_cam1,intensity_cam2
count,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000,9735.000000
mean,31550.895737,8303.760041,12595.050146,11982.700348,116.099091,4884.242188,900.180895
std,19924.534520,4995.234387,1412.004028,8221.158782,184.753174,2656.993164,533.427908
min,19.000000,4.000000,699.454121,693.816960,-384.898041,515.448364,11.262071
25%,13337.000000,4008.000000,11708.544427,4146.221408,-30.932227,2802.420410,506.198914
50%,30863.000000,7970.000000,12791.147115,10690.680744,133.943207,4349.467773,804.114563
75%,49005.500000,12515.000000,13564.270956,22771.600020,273.891388,6520.994141,1201.324036
max,67787.000000,17991.000000,24687.663615,23640.533848,490.905243,18684.873047,3974.829346

In [21]:
# The final clean data is saved as csv for further analysis
df_vutara_drift_corrected_localisations.to_csv('df_vutara_drift_corrected_filtered_cam1_2_localisations.csv', index=False)